
@{
    ViewBag.Title = "ShipMethodMapping";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="app" v-cloak>
    <div id="divSearch" class="form-group col-sm-12 form-horizontal">
        <label for="cboMerchant" class="control-label col-sm-2">@BDMall.Resources.Label.MerchantName</label>
        <div class="col-sm-4">
            <select id="cboMerchant" class="form-control" v-on:change="getMapping"></select>
        </div>
    </div>
    <div class="form-group col-sm-12 form-horizontal">
        <ul class="list-group">
            <li class="list-group-item" v-for="item,index in merchantShipMethodMapping.MerchantShipMethods">
                <label V-bind:for="'shipMethod'+index">{{item.ShipMethodName}}</label>
                <input type="checkbox" v-model="item.IsEffect" v-bind:id="'shipMethod'+index" />
            </li>
        </ul>
        <input v-if="!isMerchant" type="button" class="btn btn-primary" value="@BDMall.Resources.Action.Save" v-on:click="saveMapping" />
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var isMerch = '@ViewBag.IsMerchant';
        var vm = new Vue({
            el: "#app",
            data: {
                isMerchant: isMerch,
                merchId: "",
                merchantShipMethodMapping: {
                    MerchantId: WS.GuidEmpty,
                    MerchantShipMethods: [],
                }
            },
            methods: {
                //selectMerchPromotion: function () {

                //},
                saveMapping: function () {
                    WS.Post("/adminapi/Merchant/SaveShipMethodMapping", vm.merchantShipMethodMapping, function (response) {

                        if (response.Succeeded == true) 
                        {
                              showCloseInfo('@BDMall.Resources.Message.SaveSuccess', true);
                              vm.getMapping();
                        } 
                       else 
                       {
                             showWarn(response.Message);
                       }

                    }, function () { })
                },
                getMapping: function () {

                    var merId = $("#cboMerchant").val();
                    if (merId != "-1") {
                        WS.Get("/adminapi/Merchant/GetShipMethodMapping", { merchantId: merId }, function (response) {
                            if (response.Succeeded == true) {
                                vm.merchantShipMethodMapping = response.ReturnValue;
                            } else {
                                showWarn(response.Message);
                            }

                        }, function () { })
                    }


                }
            }
        });

        $(document).ajaxStart(function () {
            showLoading();
        });
        $(document).ajaxStop(function () {
            hideLoading();
        });

        $(document).ready(function () {
            InitNormalSelect("cboMerchant", "/adminapi/Dict/GetMerchantOptions", false, null, false);
            //vm.selectMerchPromotion();
            vm.getMapping();
        })
    </script>
}

