<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      throwExceptions="false"
      internalLogFile="internal-nlog.txt">

  <!-- define various log targets internalLogLevel="Warn"-->
  <targets>
    <!-- write logs to file -->
    <!--<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>-->
    <target xsi:type="File" name="allfile" fileName="logFile/${shortdate}/Trace.log"
                 layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" bufferSize="100" archiveAboveSize="1048576"/>
    <!--<target xsi:type="File" name="ownFile-web" fileName="logFile\nlog-own-${shortdate}.log"
             layout="${longdate}|${logger}|${uppercase:${level}}|  ${message} ${exception}" />-->

    <target xsi:type="File" name="errorfile" fileName="logFile/${shortdate}/error.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" bufferSize="100" archiveAboveSize="1048576"/>
    <target xsi:type="File" name="debugfile" fileName="logFile/${shortdate}/debug.log"
                layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" bufferSize="100" archiveAboveSize="1048576"/>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="allfile" />-->
    <!--<logger name="*" level="Trace"  writeTo="allfile" />-->
    <logger name="*" levels="Trace,Info"  writeTo="allfile" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorfile" />
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="debugfile" />
  </rules>
</nlog>